.container {
    padding: 2rem;
}

.container h2 {
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.championSection {
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    justify-items: center;
}

.filtersSection {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
}

.rankingSection {
    margin-top: 2rem;
    font-size: larger;
    font-weight: 700;
}

.rankingTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 1rem;
}

.rankingTable th,
.rankingTable td {
    padding: 12px 16px;
}

.rankingTable th {
    background-color: var(--background-secondary-color);
    font-weight: bold;
}

.rankingTable tr {
    border-bottom: 1px solid #ddd;

    &:hover {
        background-color: rgba(142, 142, 142, 0.46);
    }
}

.playerCell {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

.teamLogo {
    width: 30px;
    height: 30px;
    object-fit: contain;
}